.logo_JR_light{
    width: 75px;
    height: 75px;

}
.logoutIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 30px;
}
.plusIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 30px;
}
.plusIconFake{
    width: 30px;
    height: 30px;
    visibility: hidden;
}
.logo{
    position: relative;
    display: flex;
    align-self: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
@media screen and (max-width: 700px){
    .logo{
        width: 430px;
    }
}
.subtitle{
    font-size: 1.35rem;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: start;
    color: var(--Green_Light);

}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: var(--Dark1);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--Light1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1;
    margin-bottom: 1rem;
}
@media screen and (max-width: 530px){
    .titleBox{
        display: none;
    }

}
.titleBox{
    margin-left: 20px;
}
.title{
    font-size: 5rem;
    font-weight: 100;
    text-align: start;
    color: var(--Light1);
}