.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
*:disabled{
    cursor: not-allowed;
}
.primaryButton:disabled{
    display: none;
}
.autocomplete{
    font-family: 'Sora';
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
@media screen and (max-width: 400px) {
    .buttons{
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 330px) {
    .container h1{
        font-size: 1.5rem;
    }
    .container h2{
        font-size: 1rem;
    }
}