.foodCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 250px;
    border: solid 2px var(--Blue_Light);
    margin-bottom: 20px;

}
.foodCardMissing{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 250px;
    border: solid 2px var(--Red);
    margin-bottom: 20px;

}