@import url('https://fonts.googleapis.com/css?family=Sora');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Sora', monospace;
}

:root {
  --Dark1: #181D20;
  --Light1: #eaede7;
  --Gray_Dark: #121212;
  --Gray: #6e8687;
  --Green_Dark: #4f772d;
  --Green_Light: #C1DFE0;
  --Blue_Light: #168aad;
  --Blue_Dark: #254555;
  --Orange_Dark: #BC6C25;
  --Orange_Light: #f4a259;
  --Red: #e74c3c;
  --Off_White: #FEFAE0;
  --White: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

body,
html,
#root {
  background-color: var(--Light1);
  /* height: 100vh; 
  overflow:scroll;*/
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}
.App {
  display: flex;
  flex-direction: row;
}

p {
  color: var(--Gray);
}

button {
  cursor: pointer;
}
.container {
  background-color: var(--Light1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* width: 75%;*/
  height: 100%; 
  overflow-y: scroll;
}
.form {
  min-width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 50%;
  color: var(--Dark1);
  /* position: relative;
  
  height: 50%; */
}
input{
  width: 75%;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Blue_Dark);
  font-size: 1rem;
  color: var(--Blue_Dark);
  background-color: var(--Light1);
}

img{
  width: 100%;
  height: 100%;
}
.secondaryButton{
  width: fit-content;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0px solid var(--Blue_Dark);
  font-size: 1rem;
  color: var(--Blue_Dark);
  background-color: var(--Light1);

}
.secondaryButton:hover{
  
  color: var(--Blue_Light);
  border: 0px solid var(--Blue_Light);
}
.primaryButton{
  width: 50%;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Green_Light);
  font-size: 1rem;
  color: var(--Light1);
  background-color: var(--Blue_Dark);
  min-width: fit-content;
}
.primaryButton:hover{
  background-color: var(--Blue_Light);
}