.footer{
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}
a{
    color: var(--Gray);
}
.email, .phone, .site, .instagram{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-icon{
    width: 20px;
    height: 20px;
}
.footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 280px){
    .footer{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1200px){
    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 480px){
    .footer{
        font-size: 0.5rem;
    }
    .footer-icon{
        width: 10px;
        height: 10px;
    }
}
